*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
header{
  position: sticky;
  top: 0;
}
.btnbtn{
  display: none;
}
.navlogo{
  font-weight: bold;
  font-size: 1.5em;
}
.navbar{
  z-index: 30;
  background-color: #b9a18b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  border-bottom: 1px solid white;
}
.navlink{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}
.navbar a{
color: white;
text-decoration: none;
}
.navbtn{
  color: white;
  background-color: transparent;
  border: white 1px solid;
  border-radius: 10px;
  padding: 10px;
}
.navbtn:hover{
  background-color: black;
  cursor: pointer;
}
.navmobile{
  padding: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease;
}
.navmobile a{
  color: black;
}
.btnmobile{
  background-color: transparent;
  color: black;
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
}
section{
  color: white;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.imgmain{
  width: 20em;
}
.teks{
  flex-direction: column;
  display: flex;
  gap: 1em;
  /* border: 1px solid white; */
}
.sectionb{
  color: black;
  height: 90vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
  background-color: #b9a18b;
}

@media screen and (max-width: 480px) {
  *{
    font-size: 10px;
  }
  main{
    flex-direction: column;
  }
  .teks{
    text-align: center;
  }
  .btnbtn{
    display: block;
  }
  .navlink{
    display: none;
  }
}